/* .App {
  text-align: center;
} */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.flag-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 10rem; */
  height: 10rem;
  gap: 0.5em;
}

.flag-card img {
  width: 5rem;
}

.card-grid {
  display: grid;
  justify-items: center;
}
