*,
*::before,
*::after {
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min-content;
  height: min-content;
  gap: 0.5rem;
  box-shadow: 0 0 5px black;
  border-radius: 0.5rem;
}

.card img {
  width: clamp(5rem, 10vw, 10rem);
}

.card span {
  font-weight: bold;
  width: 100%;
  text-align: center;
  border-top: 5px double rgb(141, 141, 141);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 0 5px black;
  margin: 1rem;
  gap: 1rem;
  background-color: rgb(50, 50, 50);
}

.score-board {
  text-align: center;
  background-color: rgb(50, 50, 50);
  margin: 2rem;
}

.score-board h2 {
  margin: 0.5rem 0 0.5rem 0;
}
